---

- name: Linux - launch a compute instance (async)
  openstack.cloud.server:
    state: present
    name: "{{ node.name }}"
    image: "{{ node.image | default(omit) }}"
    key_name: "{{ node.key_name }}"
    timeout: "{{ instance_timeout }}"
    flavor: "{{ node.flavor }}"
    nics: "{{ node.nics }}"
    boot_from_volume: "{{ _boot_from_volume }}"
    terminate_volume: "{{ _terminate_volume }}"
    boot_volume: "{{ _boot_volume }}"
    volume_size: "{{ _volume_size }}"
    userdata: "{{ node.user_data | default('') }}"
    meta:
      hostname: "{{ node.name }}"
      role: "{{ node.role }}"
      app_name: "{{ node.app_name }}"
    auto_ip: "{{ _auto_ip }}"
    floating_ips: "{{ _floating_ips if (_floating_ips | length) else omit }}"
    volumes: "{{ _server_volumes }}"
    wait: true
    validate_certs: "{{ openstack_validate_certs | default(true) | bool }}"
  async: 7200
  poll: 0
  register: deploy_linux
  loop: "{{ nodes }}"
  loop_control:
    loop_var: node
  when:
    - nodes is defined
    - node.os_type is not defined or (node.os_type is defined and node.os_type | lower == 'linux')

- name: Windows - launch a compute instance (async)
  openstack.cloud.server:
    state: present
    name: "{{ node.name }}"
    image: "{{ node.image | default(omit) }}"
    key_name: "{{ node.key_name }}"
    timeout: "{{ instance_timeout }}"
    flavor: "{{ node.flavor }}"
    nics: "{{ node.nics }}"
    boot_from_volume: "{{ _boot_from_volume }}"
    terminate_volume: "{{ _terminate_volume }}"
    boot_volume: "{{ _boot_volume }}"
    volume_size: "{{ _volume_size }}"
    userdata: "{{ node.user_data | default(lookup('template', 'templates/userdata.txt.j2')) }}"
    meta:
      hostname: "{{ node.name }}"
      role: "{{ node.role }}"
      app_name: "{{ node.app_name }}"
    auto_ip: "{{ _auto_ip }}"
    floating_ips: "{{ _floating_ips if (_floating_ips | length) else omit }}"
    volumes: "{{ _server_volumes }}"
    wait: true
    validate_certs: "{{ openstack_validate_certs | default(true) | bool }}"
  async: 7200
  poll: 0
  register: deploy_windows
  loop: "{{ nodes }}"
  loop_control:
    loop_var: node
  when:
    - nodes is defined
    - node.os_type is defined
    - node.os_type | lower == 'windows'

- name: Combine deployment results
  ansible.builtin.set_fact:
    deploy_results: "{{ deploy_results | default([]) + [item] }}"
  loop: "{{ (deploy_linux.results | default([])) + (deploy_windows.results | default([])) }}"
  no_log: true
  when:
    - nodes is defined
    - item.ansible_job_id is defined

- name: Wait for instance creation to complete
  ansible.builtin.async_status:
    jid: "{{ item.ansible_job_id }}"
  register: instances
  until: instances.finished
  retries: "{{ instance_wait_retry_limit }}"
  delay: 10
  loop: "{{ deploy_results }}"
  when:
    - nodes is defined
    - deploy_results is defined
